<header>
  <h1 class="heading">Comics</h1>
  <div class="dark-mode-toggle">
    <label for="dark-mode">Toggle Dark</label>
    <input id="dark-mode" type="checkbox" (change)="toggleDarkMode()">
  </div>
</header>
<div class="content">
  <img *ngIf="loading === false; else loadingPage" class="comic-page" [src]="comicPageSrc" width="2039" height="2894">
  <div class="controls">
    <button *ngIf="page !== '0'" class="button previous-button" title="previous page" (click)="previousPage()"></button>
    <button *ngIf="page !== '11'" class="button next-button" title="next page" (click)="nextPage()"></button>
  </div>
</div>

<ng-template #loadingPage>
  <div class="loading">
    <span class="loading-icon"></span>
  </div>
</ng-template>