@import "../../../styles/variables.scss";

:host {
  background-color: $color-background-light;
  display: block;
  font-family: $font-family-comics;
  height: 100%;
  text-align: center;
  width: 100%;
}

:host.dark-mode {
  background-color: $color-background-dark;
  color: white;
}

header {
  display: grid;
  grid-template-areas:  "heading"
                        "toggle";
}

.heading {
  font-size: 4rem;
  grid-area: heading;
}

.dark-mode-toggle {
  grid-area: toggle;
  text-align: right;
}

.dark-mode-toggle > * {
  cursor: pointer;
}

.content {
  border: 2px solid black;
  margin: 0 auto;
  max-width: fit-content;
  position: relative;
}

.comic-page {
  background-color: white;
  display: block;
  width: 100%;
  min-width: 375px;
  height: auto;
  aspect-ratio: .70;
}

.loading {
  align-items: center;
  aspect-ratio: .70;
  background-color: white;
  display: flex;
  height: auto;
  justify-content: center;
  min-width: 375px;
  width: 100%;
}

.loading-icon {
  animation: 3s infinite reverse linear spin;
  background: center / contain no-repeat url('/assets/LoadingIcon.png');
  display: block;
  height: 140px;
  width: 140px;
}

.button {
  background-color: transparent;
  bottom: 0;
  border: none;
  cursor: pointer;
  height: 60px;
  margin: .25rem;
  position: absolute;
  width: 60px;
}

.previous-button {
  background: center / contain no-repeat url('/assets/BackButton.png');
  left: 0;
}

.next-button {
  background: center / contain no-repeat url('/assets/NextButton.png');
  right: 0;
}

@media (prefers-color-schem: dark) {
  :host {
    background-color: $color-background-dark;
    color: white;
  }
}

@media (min-width: #{$breakpoint-phone + 1}) {
  .comic-page {
    width: 700px;
  }

  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: '. heading toggle';
  }

  .heading {
    font-size: 6rem;
  }

  .button {
    height: 130px;
    width: 130px;
  }

  .button:hover {
    height: 133px;
    width: 133px;
  }

  .loading {
    background-color: white;
    aspect-ratio: .70;
    width: 700px;
  }
  
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}