<div class="layout">
  <app-container class="layout-main">
    <div class="party">
      <div class="party-member">
        <div class="party-member__image">
          <img src="./assets/calvinportrait2.png" height="192">
        </div>
        <div>
          <span class="party-member__name">Calvin</span> 
          <dl class="party-member__stats">
            <dt>LV</dt><dd>8</dd>
            <dt>HP</dt><dd class="party-member__stat-value--HP">341/<span>341</span></dd>
            <dt>MP</dt><dd class="party-member__stat-value--MP">48/<span>48</span></dd>
          </dl>
        </div>
        <div class="party-member__progress">
          <app-experience-bar></app-experience-bar>
          <app-experience-bar [barType]="'limit'" experienceLevel="xp10"></app-experience-bar>
        </div>
      </div>
      <div class="party-member">
        <div class="party-member__image">
          <img src="./assets/calvinportrait3.png" height="192">
        </div>
        <div>
          <span class="party-member__name">Calvin</span> 
          <dl class="party-member__stats">
            <dt>LV</dt><dd>8</dd>
            <dt>HP</dt><dd class="party-member__stat-value--HP">341/<span>341</span></dd>
            <dt>MP</dt><dd class="party-member__stat-value--MP">48/<span>48</span></dd>
          </dl>
        </div>
        <div class="party-member__progress">
          <app-experience-bar experienceLevel="xp75"></app-experience-bar>
          <app-experience-bar [barType]="'limit'" experienceLevel="xp65"></app-experience-bar>
        </div>
      </div>
      <div class="party-member">
        <div class="party-member__image">
          <img src="./assets/calvinportrait4white.png" height="192">
        </div>
        <div>
          <span class="party-member__name">Calvin</span> 
          <dl class="party-member__stats">
            <dt>LV</dt><dd>8</dd>
            <dt>HP</dt><dd class="party-member__stat-value--HP">341/<span>341</span></dd>
            <dt>MP</dt><dd class="party-member__stat-value--MP">48/<span>48</span></dd>
          </dl>
        </div>
        <div class="party-member__progress">
          <app-experience-bar experienceLevel="xp15"></app-experience-bar>
          <app-experience-bar [barType]="'limit'" experienceLevel="xp100"></app-experience-bar>
        </div>
      </div>
    </div>
  </app-container>
  <app-container class="layout-menu">
    <a menu-item class="menu-item">Item</a>
    <a menu-item class="menu-item">Magic</a>
    <a menu-item class="menu-item">Materia</a>
    <a menu-item class="menu-item">Equip</a>
    <a menu-item class="menu-item">Status</a>
    <a menu-item class="menu-item">Order</a>
    <a menu-item class="menu-item">Limit</a>
    <a menu-item class="menu-item menu-item__break">Config</a>

    <a menu-item class="menu-item">Save</a>
    <a menu-item class="menu-item" routerLink="/">Quit</a>
  </app-container>
  <app-container class="layout-submenu">
    <div class="submenu-item">Time <span>{{dateTime$ | async | date: 'HH:mm:ss'}}</span></div>
    <div class="submenu-item">Gil <span>7841</span></div>
  </app-container>
  <app-container [autoHeight]="true" class="layout-location">Mako Reactor 1</app-container>
</div>/
