:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 5% 15%;
  grid-template-rows: 3% repeat(7, 1fr);
  grid-template-areas: 
  ". menustart menuend"
  "main menustart menuend"
  "main menustart menuend"
  "main menustart menuend"
  "main menustart ."
  "main . ."
  "main submenu submenu"
  ". submenu submenu";
  padding: 1rem;
  height: 100%;
}

.layout-main {
  grid-area: main / main / main / menustart;
}

.layout-menu {
  grid-area: menustart / menustart / menuend / menuend;
}

.layout-submenu {
  grid-area: submenu;
}

.menu-item {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  position: relative;

  &:focus, &:hover {
    outline: none;
  }

  &:focus::before, &:hover::before {
    content: '>';
    position: absolute;
    left: -.5rem;
  }

  &__break {
    margin-bottom: 3rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}