<div class="layout">
  <app-container class="layout-main">
    <div class="party">
      <div class="party-member">
        <div class="party-member__image">
          <img src="http://placekitten.com/179/208">
        </div>
        <div class="party-member__stats">
          <span class="party-member__name">Calvin</span> 
          <p><span class="party-member__stat">LV</span> 8</p>
          <p><span class="party-member__stat">HP</span> <span class="party-member__stat-value"> 341/341</span></p>
          <p><span class="party-member__stat">MP</span> 48/48</p>
        </div>
        <div class="party-member__progress">Bars go here</div>
      </div>
      <div class="party-member">
        <div class="party-member__image">
          <img src="http://placekitten.com/179/208">
        </div>
        <div class="party-member__stats">
          <span class="party-member__name">Calvin</span> 
          <p><span class="party-member__stat">LV</span> 8</p>
          <p><span class="party-member__stat">HP</span> 341/341</p>
          <p><span class="party-member__stat">MP</span> 48/48</p>
        </div>
        <div class="party-member__progress">Bars go here</div>
      </div>
      <div class="party-member">
        <div class="party-member__image">
          <img src="http://placekitten.com/179/208">
        </div>
        <div class="party-member__stats">
          <span class="party-member__name">Calvin</span> 
          <p><span class="party-member__stat">LV</span> 8</p>
          <p><span class="party-member__stat">HP</span> 341/341</p>
          <p><span class="party-member__stat">MP</span> 48/48</p>
        </div>
        <div class="party-member__progress">Bars go here</div>
      </div>
    </div>
  </app-container>
  <app-container class="layout-menu">
    <a menu-item class="menu-item">Item</a>
    <a menu-item class="menu-item">Magic</a>
    <a menu-item class="menu-item">Materia</a>
    <a menu-item class="menu-item">Equip</a>
    <a menu-item class="menu-item">Status</a>
    <a menu-item class="menu-item">Order</a>
    <a menu-item class="menu-item">Limit</a>
    <a menu-item class="menu-item menu-item__break">Config</a>

    <a menu-item class="menu-item">Save</a>
    <a menu-item class="menu-item">Quit</a>
  </app-container>
  <app-container class="layout-submenu">Submenu</app-container>
</div>
