@import "../../../styles/variables.scss";

:host {
  --stat-bar-width: 165px;
  --party-image-width: 155px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 5% 15%;
  grid-template-rows: 3% repeat(7, 1fr);
  grid-template-areas: 
  ". menustart menuend"
  "main menustart menuend"
  "main menustart menuend"
  "main menustart menuend"
  "main menustart menuend"
  "main . ."
  "main submenu submenu"
  ". submenu submenu";
  padding: 1rem;
  width: 1280px;
  height: 960px;
  margin: auto;
  aspect-ratio: 4 / 3;
}

.layout-main {
  grid-area: main / main / main / menustart;
}

.layout-menu {
  grid-area: menustart / menustart / menuend / menuend;
}

.layout-submenu {
  grid-area: submenu;
}

.menu-item {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  position: relative;

  &:focus, &:hover {
    outline: none;
  }

  &:focus::before, &:hover::before {
    content: '>';
    position: absolute;
    left: -.5rem;
  }

  &__break {
    margin-bottom: 4rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.party {
  padding: 2.5rem 3.5rem;
}

.party-member {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  margin-bottom: 3.5rem;

  &__image {
    margin-right: 78px;
  }

  &__name {
    margin-bottom: 1rem;
    display: block;
  }


  &__stats{
    display: grid;
    grid-template-columns: max-content var(--stat-bar-width);

    & dt {
      color: $color-blue-light;
      font-weight: 600;
    }

    & dd {
      margin-left: .5rem;
      margin-bottom: .25rem;
      padding: 0 .25rem .25rem 1rem;
      position: relative;
      
    }

    & span {
      position: absolute;
      right: 0;
    }
  }

  &__stat-value--HP {
    &::after {
      background: linear-gradient(0.25turn, #3775c8, #3775c8, #c4bfc6);
      content: '';
      display: block;
      height: .25rem;
      left: 0;
      position: absolute;
      margin-top: .25rem;
      width: var(--stat-bar-width);
    }
  }

  &__stat-value--MP {
    &::after {
      background: linear-gradient(0.25turn, #53cfad, #53cfad, #bfc3cf);
      content: '';
      display: block;
      height: .25rem;
      left: 0;
      margin-top: .25rem;
      position: absolute;
      width: var(--stat-bar-width);
    }
  }

  &__progress {
    flex-grow: 1;
  }

  &__experience {
    height: 2rem;
    width: 340px;
    background-color: white;
    margin-left: 2rem; 
    position: relative;
    left: 0;

    &::after {
      content: '';
      display: block;
      height: 1.5rem;
      background-color: purple;
      position: absolute;     
      top: .25rem;
      left: .5rem;
      right: .5rem;
      width: 50%;
    }

    &::before {
      content: '';
      display: block;
      height: 1.5rem;
      background-color: gray;
      position: absolute;     
      top: .25rem;
      left: .5rem;
      right: .5rem;
    }
   
  }
}