<div class="layout">
  <app-container class="layout-main">
    <div class="party">
      <div class="party-member">
        <div class="party-member__image">
          <img src="http://placekitten.com/155/180">
        </div>
        <div>
          <span class="party-member__name">Calvin</span> 
          <dl class="party-member__stats">
            <dt>LV</dt><dd>8</dd>
            <dt>HP</dt><dd class="party-member__stat-value--HP">341/<span>341</span></dd>
            <dt>MP</dt><dd class="party-member__stat-value--MP">48/<span>48</span></dd>
          </dl>
        </div>
        <div class="party-member__progress">
          <span class="party-member__experience-label">next level</span>
          <div class="party-member__experience"></div>
        </div>
      </div>
      <div class="party-member">
        <div class="party-member__image">
          <img src="http://placekitten.com/155/180">
        </div>
        <div>
          <span class="party-member__name">Calvin</span> 
          <dl class="party-member__stats">
            <dt>LV</dt><dd>8</dd>
            <dt>HP</dt><dd class="party-member__stat-value--HP">341/<span>341</span></dd>
            <dt>MP</dt><dd class="party-member__stat-value--MP">48/<span>48</span></dd>
          </dl>
        </div>
        <div class="party-member__progress">Bars go here</div>
      </div>
      <div class="party-member">
        <div class="party-member__image">
          <img src="http://placekitten.com/155/180">
        </div>
        <div>
          <span class="party-member__name">Calvin</span> 
          <dl class="party-member__stats">
            <dt>LV</dt><dd>8</dd>
            <dt>HP</dt><dd class="party-member__stat-value--HP">341/<span>341</span></dd>
            <dt>MP</dt><dd class="party-member__stat-value--MP">48/<span>48</span></dd>
          </dl>
        </div>
        <div class="party-member__progress">Bars go here</div>
      </div>
    </div>
  </app-container>
  <app-container class="layout-menu">
    <a menu-item class="menu-item">Item</a>
    <a menu-item class="menu-item">Magic</a>
    <a menu-item class="menu-item">Materia</a>
    <a menu-item class="menu-item">Equip</a>
    <a menu-item class="menu-item">Status</a>
    <a menu-item class="menu-item">Order</a>
    <a menu-item class="menu-item">Limit</a>
    <a menu-item class="menu-item menu-item__break">Config</a>

    <a menu-item class="menu-item">Save</a>
    <a menu-item class="menu-item">Quit</a>
  </app-container>
  <app-container class="layout-submenu">Submenu</app-container>
</div>/
