@import "../../../styles/variables.scss";

:host {
  --stat-bar-width: 165px;
  --font-size-default: 2rem;
  display: block;
  margin: auto;
  text-shadow: 3px 3px 1px black;
  font-size: var(--font-size-default);
}

.layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 5% 15%;
  grid-template-rows: 3% repeat(7, 1fr);
  grid-template-areas: 
  ". . . . . menustart menuend"
  "main main main main main menustart menuend"
  "main main main main main menustart menuend"
  "main main main main main menustart menuend"
  "main main main main main menustart menuend"
  "main main main main main. ."
  "main main main main main submenu submenu"
  ". . . location location location location";
  padding: 1rem;
  width: 1280px;
  height: 960px;
  margin: auto;
  aspect-ratio: 4 / 3;
}

.layout-main {
  grid-area: main / main / main / menustart;
}

.layout-menu {
  grid-area: menustart / menustart / menuend / menuend;
}

.layout-submenu {
  grid-area: submenu;
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.layout-location {
  grid-area: location;
}

.menu-item {
  color: var(--color-font-menu);
  display: block;
  margin-bottom: 1rem;
  padding-left: 2rem;
  position: relative;
  text-decoration: none;

  &:focus, &:hover {
    outline: none;
  }

  &:focus::before, &:hover::before {
    content: '';
    background: url('../../../assets/FFPointerSpriteCropped.png') no-repeat;
    background-size: contain;
    display: block;
    width: 128px;
    height: 64px;
    position: absolute;
    left: -6rem;
  }

  &__break {
    margin-bottom: 4rem;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}


