<app-party-member
  imgSrc="./assets/calvinportrait2-saturated51.png"
  name="Calvin"
  [level]="8"
  [currentHP]="341"
  [currentMP]="73"
  [maxHP]="341"
  [maxMP]="120"
  limitLevel="xp50"
  experienceLevel="xp10"
></app-party-member>
<app-party-member
  imgSrc="./assets/calvinportrait3.png"
  name="Calvin"
  [level]="7"
  [currentHP]="276"
  [currentMP]="48"
  [maxHP]="346"
  [maxMP]="48"
  [backrow]="true"
  limitLevel="xp75"
  experienceLevel="xp65"
></app-party-member>
<app-party-member
  imgSrc="./assets/calvinportrait4white.png"
  name="Calvin"
  [level]="8"
  [currentHP]="413"
  [currentMP]="24"
  [maxHP]="413"
  [maxMP]="30"
  limitLevel="xp15"
  experienceLevel="xp100"
></app-party-member>