$color-blue-ul: #0000b0;
$color-blue-ll: #000050;
$color-blue-ur: #000080;
$color-blue-lr: #000020;

$color-black: #0e1116;

$font-family-1: 'Exo 2', sans-serif;
$font-family-2: 'Orbitron', sans-serif;
$font-family-3: 'Press Start 2P', cursive;
$font-family-4: 'Roboto', sans-serif;
$font-family-5: 'Playfair Display', serif;
$font-family-6: 'BIZ UDMincho', serif;
