@import '../../../styles/variables.scss';

:host {
  display: block;
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  line-height: 1.3;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.content {
  max-width: 700px;
}

.message {
  display: flex;
  gap: 2rem;
}

.contact {
  color: var(--color-font, $color-font-menu);
  text-shadow: none;
}