<h1>About me</h1>
<div class="content">
    <div class="message">
        <img src="/assets/calvinportrait3.png" height="192">

        <div>
            <p>Hey, I'm Calvin Wallis. I am a Front-End developer passionate about creating user experiences that spark
                joy
                through interactivity, design, gamification and accessibility.</p>

            <p>Beginning my professional career as a Full-Stack developer allowed me to dip my toes in many different
                disciplines across computer science.
                Maybe it is a little vain, but I found that my favorite work was the stuff that I knew users would
                touch and be able to appreciate. </p>
                
            <p> For the last couple of years I have
                turned my focus entirely to the front-end world and strive to become an expert in the field.
            </p>

            <a class="contact" routerLink="/contact">Contact me</a>
        </div>
    </div>
</div>